@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slider {
    display: flex;
    flex-direction: row;
    gap: 38px;
    justify-content: center;
    margin: 128px 0;

    animation: 35s slide infinite linear;
}
