.btn-icon {
  background-color: var(--color-white);
  border: 0;
  user-select: none;
  outline: none; //Prevent size changing
  display: flex;
  justify-content: center;
  align-items: center;

  &--medium {
    border-radius: 6px;
    height: 48px;
    width: 48px;
  }

  &--small {
    border-radius: 6px;
    height: 32px;
    width: 32px;
  }

  &:hover {
    outline: 1px solid var(--color-blackout); //Border to outline
  }

  &:active {
    background-color: var(--color-blackout);
    color: var(--color-white);
  }
}

.btn-icon:active svg {
  color: var(--color-white);
}
