@import '../base/colors';
@import '../base/global';
@import '../base/reset';
@import '../base/typography';

.btn-icon{
    background-color: $color-white;
    border: 0;
    user-select: none;
    outline: none; //Prevent size changing
    display: flex;
    justify-content: center;
    align-items: center;

    &--medium {
        border-radius: 6px;
        height: 48px;
        width: 48px;
    }

    &--small {
        border-radius: 6px;
        height: 32px;
        width: 32px;
    }

    &:hover {
        outline: 1px solid $color-blackout; //Border to outline
    }

    &:active {
        background-color: $color-blackout;
        color: $color-white;
    }
}

.btn-icon:active svg {
    color: $color-white;
}