@import '../base/colors';

.btn-icon {
    background-color: $color-white;
    border: 0;
    user-select: none;
    outline: none; /* Evitamos el outline que cambia el tamaño */

    &--small {
        border-radius: 6px;
        height: 48px;
        width: 48px;
    }

    &--medium {
        border-radius: 6px;
        height: 32px;
        width: 32px;
    }

    &:hover {
        outline: 1px solid $color-blackout; /* de border a outline */
    }

    &:active {
        background-color: $color-blackout;
        color: $color-white;
    }
}