.avatar-default {
  background-color: var(--color-wooden);
  color: var(--color-white);
  width: inherit;
  height: inherit;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
