.avatar-default {
  background-color: var(--color-wooden);
  width: 48px;
  color: var(--color-white);
  height: 48px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
