.profile-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px); /* Ajusta la distancia entre el botón y la lista */
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown__item {
  padding: 8px 16px;
  cursor: pointer;
}

.profile__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 48px;
  height: 48px;
}

.profile__btn img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
