.mosaic-container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: -1;
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mosaic-column:nth-child(2) {
    margin-top: -100px;
}

.image {
    display: flex;
    justify-content: center;
    width: 255px;
    height: 420px;
    border-radius: 50px;
    margin-bottom: 36px;
    margin-left: 36px;
    overflow: hidden;
}

.mosaic-image {
    width: 300px; /* adjust width to fit your needs */
    margin: 10px; /* adjust margin to fit your needs */
    display: inline-block;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
}

.image-2 {
    margin-top: -100px;
}

.image-5 {
    margin-top: -100px;
}

.mosaic-image.visible {
    animation: imageAppear 0.5s ease-in-out forwards;
  }

  @keyframes imageAppear {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.landing-animation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
    user-select: none;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word {
    color: var(--color-wooden);
    margin-top: 48px;
    animation: appear 2s ease-in-out forwards;
    
    &.hidden {
        display: none;
    }
}

@keyframes appear {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    40% {
        transform: translateY(-50%);
        opacity: 1;
    }

    60% {
        transform: translateY(-50%);
        opacity: 1;
    }
    
    100% {
    transform: translateY(-100%);
    opacity: 0;
    }
}