.sign-google {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid var(--color-blackout-light);
    background: var(--color-white);
    min-height: 48px;
}