@import '../base/colors';
/*------------------------------------*\
    $BUTTON--STATES & $BUTTON--SIZES
\*------------------------------------*/

.btn {
    background-color: $color-white;
    color: $color-blackout;

    &:not(:disabled) {
        &:hover {
            background-color: $color-blackout;
            color: $color-white;
        }

        &:active {
            background-color: $color-blackout-ligth;
            color: $color-white;
            border: 1px solid $color-blackout-ligth;
        }
    }

    &:disabled {
        background-color: white;
        border: 1px solid $color-blackout-lighter;
        color: $color-blackout-lighter;
        cursor: not-allowed;
    }

    &:focus-visible {
         background-color: $color-white;
         color: $color-wooden;
         border: 1px solid $color-wooden;
     }
    

    //Sizes
    &--small {
        border-radius: 60px;
        height: 36px;
        padding: 0px 24px;
    }

    &--medium {
        border-radius: 67px;
        height: 48px;
        padding: 0px 24px;
    }

    &--large {
        border-radius: 40px;
        height: 56px;
        padding: 0px 24px;
    }
};

/*------------------------------------*\
    $DROPDOWN--BUTTON
\*------------------------------------*/
