/*------------------------------------*\
    $COLOR--VAR
\*------------------------------------*/
$color-white: hsl(0, 0%, 100%);
$color-blackout: hsl(0, 0%, 9%);
$color-blackout-light: hsl(0, 0%, 50%);
$color-wooden: hsl(29, 21%, 43%);


/*------------------------------------*\
    $BUTTON & $BUTTON--STATES
\*------------------------------------*/

.btn {
    background-color:$color-white;
    color: $color-blackout;

    &--hover {
        background-color: $color-blackout;
        color: $color-white;
    }

    &--press {
        background-color: $color-blackout-light;
        color: $color-white;
        border: 1px solid $color-blackout-light;
    }

    &--focus {
        background-color: $color-white;
        color: $color-wooden;
        border: 1px solid $color-wooden;
    }
}

/*------------------------------------*\
    $BUTTON--SIZES
\*------------------------------------*/

.btn {
    &.btn--small {
        border-radius: 60px;
        height: 36px;
        padding: 0px 24px;
    }

    &.btn--medium {
        border-radius: 67px;
        height: 48px;
        padding: 0px 24px;
    }

    &.btn--large {
        border-radius: 40px;
        height: 56px;
        padding: 0px 24px;
    }
}

/*------------------------------------*\
    $ICON_BUTTON--SIZES
\*------------------------------------*/
