@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /*------------------------------------*\
        $FAMILY
    \*------------------------------------*/

    --sans-serif: "Hanken Grotesk", Helvetica, Verdana, sans-serif;
    
    /*------------------------------------*\
        $WEIGHT
    \*------------------------------------*/

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /*------------------------------------*\
        $SIZE
    \*------------------------------------*/

    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-20: 1.25rem;
    --font-size-28: 1.75rem;
    --font-size-36: 2.25rem;
    --font-size-48: 3rem;
    --font-size-72: 4.5rem;

    
    /*------------------------------------*\
        $COLOR-VAR
    \*------------------------------------*/
    --color-white: hsl(0, 0%, 100%);
    --color-white-dark: hsla(0, 0%, 75%, 1);
    --color-white-darker: hsla(0, 0%, 50%, 1);

    --color-blackout-lighter: hsl(0, 0%, 98%, 1);
    --color-blackout-light: hsl(0, 0%, 50%);
    --color-blackout: hsl(0, 0%, 9%);

    --color-wooden-light: hsla(29, 100%, 82%, 1);
    --color-wooden: hsl(29, 21%, 43%);

    --color-pearlwhite: hsla(45, 36%, 96%, 1);

    --color-golden-lighter: hsla(48, 100%, 87%, 1);
    --color-golden-light: hsla(48, 100%, 83%, 1);
    --color-golden: hsla(48, 64%, 75%, 1);
    --color-golden-dark: hsla(48, 34%, 62%, 1);
    --color-golden-darker: hsla(48, 21%, 41%, 1);

    --color-readcream-light: hsla(0, 100%, 85%, 1);
    --color-readcream: hsla(0, 100%, 76%, 1);
    --color-readcream-dark: hsla(0, 42%, 57%, 1);
    --color-readcream-darker: hsla(0, 32%, 38%, 1);

    --color-greencream-light: hsla(137, 100%, 84%, 1);
    --color-greencream: hsla(137, 100%, 80%, 1);

    --color-limegreen: hsla(120, 61%, 50%, 1);

    --color-yellowcream: hsla(51, 100%, 79%, 1);

    --color-marron-light: hsla(0, 100%, 33%, 1);

    /*------------------------------------*\
        $FOOTER
    \*------------------------------------*/

    --footer-gap: 64px;
    --footer-margin: 20px;
}