.artpiece-section {
  margin-top: 13.4rem;
  margin-bottom: 13.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.artpiece__img {
  margin-bottom: 3.2rem;
}

.artpiece-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 0 3.2rem 0 3.2rem;
}

.artpiece__description {
  margin: 3.2rem 0 3.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 40%;
}

.art__title {
  text-align: center;
}

.artpiece {
  &__artist {
    font-size: var(--font-size-36);
  }

  &__date,
  &__type,
  &__dimensions,
  &__location {
    font-size: var(--font-size-20);
  }
}

.artpiece__properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  margin-bottom: 1.6rem;
}

.artpiece__btn {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}

.art-visualizer {
  position: relative;
  width: 100vw;
  height: 100vh;

  & .react-viewer-mask {
    background-color: var(--color-blackout);
    width: 100vw;
    height: 100vh;
  }

  & .react-viewer-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    padding-bottom: 3.2rem;
    gap: 1.6rem;
  }

  & .react-viewer-btn {
    background-color: var(--color-golden-lighter);
    height: 4.8rem;
    width: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & i {
      color: var(--color-blackout);
    }

    &:hover {
      background-color: var(--color-golden);
    }
  }

  & .react-viewer-close {
    top: 3.2rem;
    right: 3.2rem;
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
      position: static;
    }
  }
}

@media (max-width: 768px) {
  .artpiece-section {
    margin-top: 4.6rem;
  }

  .art__title {
    font-size: var(--font-size-48);
    line-height: 6.4rem;
  }

  .artpiece__description {
    margin: 3.2rem 0 3.2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
  }
}
