//variables
$footer-gap: 64px;
$footer-margin: 20px 20px;
$mobile-bp: 768px;
$tablet-bp: 1200px;

.footer {
  margin: $footer-margin;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-normal);
  color: var(--color-blackout);

  // MOBILE
  @media (max-width: $mobile-bp) {
    .footer {
      &--head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
      }

      &--links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;

        &_list {
          display: flex;
          flex-direction: row;
          gap: 24px;
        }

      }

      &--bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }

      &--copy {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: center;
        }

      &--div {
          width: 100%;
          margin: 24px 0px;
      }
    }
  }


  //TABLET
  @media (min-width: $mobile-bp) and (max-width: $tablet-bp) {
    .footer {
      &--head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
      }

      &--links {
        display: flex;
        flex-direction: row;
        gap: 24px;

        &_list {
          display: flex;
          flex-direction: row;
          gap: 24px;
        }
      }

      &--bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }

      &--copy {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
      }

      &--div {
        width: 100%;
        margin: 24px 0px;
      }
    }
  }

  &--head {
    font-size: 1rem;
    line-height: 1.8;
    display: flex;
    flex-direction: row;
    gap: $footer-gap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &--div {
    width: 100%;
    margin: 34px 0px;
    background-color: black;
  }


  &--links {
    display: flex;
    flex-direction: row;
    gap: $footer-gap;

    &_list {
      list-style: none;
      font-size: var(--font-size-16);
      color: var(--color-blackout);
    }
  }

  &--bottom {
    display: flex;
    flex-direction: row;
    gap: 64px;
  }

  &--copy {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & p {
      font-weight: bold;
    }
  }

  &--top {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    height: 20px;
  }
}

.icon-logotype {
  height: inherit;
  width: 134px;
}
