.newuser-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgsetup-wrapper {
  width: 100%;
  height: 100vh;
  background: url("../src/assets/noche-estrellada-van-gogh.jpg") lightgray 50% / cover no-repeat;
}

.info-wrapper {
  width: 100%;
  padding: 0 134px 0 134px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info__form {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.input__box {
  height: 4.8rem;
  max-height: 4.8rem;
  border-radius: 6rem;
  padding-left: 2.4rem;
  border: 1px solid var(--color-blackout-light);
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.submit-btn {
  width: 125px;
  align-self: end;
}

.choose-btn {
  width: 164px;
}

.upload__btn {
  display: flex;
  width: 164px;
  height: 164px;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10rem;
  background-color: var(--color-white);
  border: 1px dashed var(--AV---Blackout-Lighter, #808080);
}

.options-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}

.selector-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.google-image {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 6rem;
}

.uploaded-image {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 10rem;
}

.checkbox__circle label {
  background-color: var(--color-wooden);
  width: 4.8rem;
  color: var(--color-white);
  height: 4.8rem;
  border-radius: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox__circle input[type="checkbox"] {
  visibility: hidden;
}

.checkbox__circle input[type="checkbox"]:checked + label {
  box-shadow: 0 0 0 3px hsla(48, 64%, 75%, 1);
}

.checkbox__circle input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.checkbox__circle-uploaded {
  display: flex;
  flex-direction: row;
}
.checkbox__circle-uploaded label {
  background-color: var(--color-wooden);
  width: 164px;
  color: var(--color-white);
  height: 164px;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox__circle-uploaded input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.checkbox__circle-uploaded input[type="checkbox"]:checked + label {
  box-shadow: 0 0 0 3px hsla(48, 64%, 75%, 1);
}

.checkbox__circle-uploaded input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.options-selector {
  display: flex;
  gap: 1.6rem;
}

.submit-btn {
  user-select: none;
  box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: 4rem;
  height: 5.6rem;
  padding: 0 2.4rem;
  border: 1px solid var(--color-blackout);

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--color-blackout);
      color: var(--color-white);
    }

    &:active {
      box-shadow:
        inset 0 0 0 1px var(--color-blackout),
        inset 0 0 0 3px var(--color-white);
      background-color: var(--color-blackout);
      color: var(--color-white);
    }
  }

  &:focus-visible {
    box-shadow:
      inset 0 0 0 1px var(--color-blackout),
      inset 0 0 0 3px var(--color-white);
    background-color: var(--color-blackout);
    color: var(--color-white);
  }
}

@media (max-width: 768px) {
  .newuser-wrapper {
    flex-direction: column;
    height: 100%;
  }

  .info-wrapper {
    padding: 0;
    width: 100vw;
  }

  .imgsetup-wrapper {
    display: none;
  }
}
