/*------------------------------------*\
    $COLOR-VAR
\*------------------------------------*/
$color-white: hsl(0, 0%, 100%);
$color-blackout: hsl(0, 0%, 9%);
$color-blackout-ligther: hsl(0, 0%, 50%);
$color-wooden: hsl(29, 21%, 43%);