@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

$sans-serif: "Hanken Grotesk", Helvetica, Verdana, sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 16px;

button {
    font-size: $font-size-12;
    font-family: $sans-serif;
    font-weight: $font-weight-semibold;
    border: 1px solid $color-blackout;
}