@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/*------------------------------------*\
    $FAMILY
\*------------------------------------*/

$sans-serif: "Hanken Grotesk", Helvetica, Verdana, sans-serif;

/*------------------------------------*\
    $WEIGHT
\*------------------------------------*/

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/*------------------------------------*\
    $SIZE
\*------------------------------------*/

$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-28: 1.75rem;
$font-size-36: 2.25rem;
$font-size-48: 3rem;
$font-size-72: 4.5rem;

/*------------------------------------*\
    $SELECTORS
\*------------------------------------*/

button {
    font-size: $font-size-12;
    font-family: $sans-serif;
    font-weight: $font-weight-semibold;
    border: 1px solid $color-blackout;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: $sans-serif;
}

h1 {
    font-size: $font-size-72;
    font-style: normal;
    font-weight: $font-weight-semibold;
    line-height: 4rem;
}

h2 {
    font-size: $font-size-48;
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: 3.75rem;
}

h3 {
    font-size: $font-size-28;
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: 2.188rem;
}

h4 {
    font-size: $font-size-20;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: 1.563rem;
}

h5 {
    font-size: $font-size-16;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: 1.25rem;
}

h6 {
    font-size: $font-size-14;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: 1rem;
}

p {
    font-size: $font-size-16;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: 1.5rem;
}

.h4--bold {
        font-weight: $font-weight-bold; 
}

.p--bold {
        font-weight: $font-weight-bold; 
}